.product-container {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 100vh;
  font-family: "Open Sans Condensed", sans-serif;
}

.product-container > div:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1vh;
  background-color: #285ec7;
}

.column-40 {
  background-color: #285ec7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.product-container-qr {
  display: grid;
  align-items: center;
  justify-content: center !important;
  text-align: center;
  row-gap: 20px;
}

.image-expo-container {
  width: 60%;
  height: 60%;
  margin-top: 2%;
  margin-bottom: 2%;

}

@media (min-width: 3840px) {
  .image-expo-container {
    width: 50%;
    height: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (max-width: 3484.8px) {
  .image-expo-container {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 1440px) {
  .image-expo-container {
    width: 50%;
    height: 50%;
  }
}

.text-qr {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: clamp(80px, 5vw, 133.53px);
  line-height: clamp(90px, 6vw, 146.89px);
  color: yellow;
}

@media (min-width: 3840px) {
  .text-qr {
    font-size: clamp(80px, 4vw, 120px);
    line-height: clamp(90px, 5vw, 130px);
  }
}

@media (max-width: 3484.8px) {
  .text-qr {
    font-size: clamp(40px, 6vw, 60px);
    line-height: clamp(50px, 4vw, 70px);
  }
}

@media (max-width: 1440px) {
  .text-qr {
    font-size: clamp(20px, 2vw, 50px) !important;
    line-height: clamp(35px, 2vw, 10px) !important;
  }
}

.text-qr-winner {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: clamp(80px, 5vw, 133.53px);
  line-height: clamp(90px, 6vw, 146.89px);
  color: white;
}

@media (min-width: 3840px) {
  .text-qr-winner {
    font-size: clamp(80px, 4vw, 100px);
    line-height: clamp(90px, 5vw, 100px);
  }
}

@media (max-width: 3484.8px) {
  .text-qr-winner {
    font-size: clamp(40px, 6vw, 60px);
    line-height: clamp(50px, 4vw, 70px);
  }
}

@media (max-width: 1440px) {
  .text-qr-winner {
    font-size: clamp(20px, 1.5vw, 40px) !important;
    line-height: clamp(35px, 2vw, 10px) !important;
  }
}

.column-60 {
  display: grid;
  grid-template-rows: 35% 45% 20%;
  padding: 5%;
  box-sizing: border-box;
}
.row1 {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
}

.image-container {
  border: 3px solid #000000;
  border-radius: 50px !important;
  overflow: hidden;
  width: 85%;
  height: 85%;
  max-width: 100%;
  max-height: 100%;

}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Product-name {
  display: flex;
  margin-top: 4%;
  justify-content: center;
}
.product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5 !important; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.product-text,
.product-description,
.description {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: clamp(80px, 5vw, 133.53px);
  line-height: clamp(90px, 6vw, 146.89px);
  color: #000000;
  margin-top: 4%;
}

@media (min-width: 3840px) {

  .product-text,
  .product-description,
  .description {
    font-size: clamp(80px, 4vw, 120px);
    line-height: clamp(90px, 5vw, 130px);
  }
}

@media (max-width: 3484.8px) {

  .product-text,
  .product-description,
  .description {
    font-size: clamp(40px, 6vw, 60px);
    line-height: clamp(50px, 4vw, 70px);
  }
}

@media (max-width: 1440px) {

  .product-text,
  .product-description,
  .description {
    font-size: clamp(20px, 1.5vw, 40px) !important;
    line-height: clamp(35px, 2vw, 10px) !important;
  }
}

.description {
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: normal; 
}



.product {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: clamp(80px, 5vw, 133.53px);
  line-height: clamp(90px, 6vw, 146.89px);
  color: #000000;
  margin-top: 4%;
}

@media (min-width: 3840px) {
  .product {
    font-size: clamp(80px, 4vw, 160px);
    line-height: clamp(90px, 5vw, 130px);
  }
}

@media (max-width: 3484.8px) {
  .product {
    font-size: clamp(40px, 6vw, 70px);
    line-height: clamp(50px, 4vw, 70px);
  }
}

@media (max-width: 1440px) {
  .product {
    font-size: clamp(20px, 1.5vw, 50px) !important;
    line-height: clamp(35px, 2vw, 10px) !important;
  }
}

.row4 {
  display: flex;
  align-items: end;
}

.rounded-button {
  width: 30%;
  height: 10%;
  padding: clamp(5px, 2vw, 8.23px) clamp(50px, 5vw, 123.47px);
  gap: clamp(4px, 1vw, 6.59px);
  opacity: 1;
  position: absolute;
  background: black;
  border-radius: 100px;
}

/* WINNER TIME TAG - CONTENT*/
.winner-time-tag-content {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5vw, 68px);
  line-height: clamp(60px, 5vw, 100px);
  text-align: center;
  color: #ffffff;
  margin: 0;
  overflow-wrap: break-word;
}

@media (min-width: 3840px) {
  .winner-time-tag-content {
    font-size: clamp(80px, 4vw, 100px);
    line-height: clamp(90px, 5vw, 130px);
  }
}

@media (max-width: 3484.8px) {
  .winner-time-tag-content {
    font-size: clamp(40px, 6vw, 50px);
    line-height: clamp(50px, 4vw, 70px);
  }
}

@media (max-width: 1440px) {
  .winner-time-tag-content {
    font-size: clamp(15px, 2vw, 40px) !important;
    line-height: clamp(35px, 2vw, 10px) !important;
  }

}

.line {
  width: 100%;
  height: 20px;
  background-color: #285EC7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}