.admin-container {
  border: 1px solid lightgray;
  padding: 3vh 3vw;
  margin: 3vh 3vw;
  border-radius: 10px;
}

.date-time-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 3vh;
}

.date-time-container > div {
  padding: 5px;
}

.bold-text {
  font-weight: bold;
}

.admin-container-attendee-details {
  display: grid;
  grid-template-columns: 10% 6% 20% 44% 20%;
  text-align: center;
  gap: 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.admin-header,
.value {
  padding: 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.admin-header:last-child,
.value:last-child {
  border-right: none;
}

.admin-header {
  font-weight: bold;
}

.value {
  padding-top: 5px;
}

.save-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.save-button:hover {
  background-color: #0056b3;
}

.save-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 2vh;
}

.adim-attendee-container {
  padding-bottom: 3vh;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}
